{%- for block in section.blocks -%}

  <div  class="{% if block.settings.show-on-mobile %} twcss-block {% else %}twcss-hidden lg:twcss-block{% endif %}" x-data="{ showMenu: false, showClearance: false }">
    <div class="twcss-relative twcss-bg-black twcss-text-white twcss-text-sm">
      <div class="twcss-container twcss-flex twcss-justify-between twcss-items-center twcss-bg-black">
        <div>
          {% if block.settings.link %}
              <a href="{{ block.settings.link }}" {% if block.settings.external-link %} target="_blank" {% endif %} class="hover:twcss-underline">{{ block.settings.link-text }}</a>
          {% endif %}
        </div>

        <div>
          <div class="twcss-flex twcss-justify-end twcss-items-center">

            {% if block.settings.show-clearance == true %}
                <a href="{{ block.settings.clearance-banner-link }}">
                  <div class="twcss-relative twcss-px-4 twcss-py-2 twcss-top-0 twcss-group twcss-overflow-hidden twcss-font-medium twcss-bg-brand-red hover:twcss-cursor-pointer hover:twcss-brightness-125">
                    <span class="twcss-relative twcss-text-core-white">Clearance</span>
                  </div>
                </a>
            {% endif %}
            {% if block.settings.button-link %}
              <div class="">
                <a href="{{ block.settings.button-link }}" {% if block.settings.external-button-link %} target="_blank" {% endif %}>
                  <button class="twcss-bg-brand-yellow twcss-px-4 twcss-py-2 twcss-text-core-black hover:twcss-text-core-white">{{ block.settings.button-link-text }}</button>
                </a>
              </div>
            {% endif %}
          </div>
        </div>

      </div>
    </div>
  </div>
{%- endfor -%}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 1,
  "class": "announcement-bar",
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "checkbox",
          "id": "show-on-mobile",
          "label": "Show on Mobile view",
          "default": false
        },
        {
          "type": "url",
          "id": "link",
          "label": "First Link"
        },
        {
          "type": "text",
          "id": "link-text",
          "label": "First Link text"
        },
        {
          "type": "checkbox",
          "id": "external-link",
          "label": "Open in new window",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show-clearance",
          "default": false,
          "label": "Show Clearance Banner"
        },
        {
          "type": "text",
          "id": "clearance-banner-text",
          "label": "Clearance Banner Text"
        },
        {
          "type": "url",
          "id": "clearance-banner-link",
          "label": "Clearance Link"
        },
        {
          "type": "url",
          "id": "button-link",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "button-link-text",
          "label": "Button Link text"
        },
        {
          "type": "checkbox",
          "id": "external-button-link",
          "label": "Open in new window",
          "default": false
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}

