<div class="twcss-w-full twcss-relative twcss-bg-brand-blue twcss-overflow-hidden">
  <div class="twcss-hidden twcss-absolute lg:twcss-grid twcss-grid-cols-2  twcss-w-full twcss-h-full twcss-top-0">
    <div>
      <!-- empty -->
    </div>
    <div class="twcss-overflow-hidden">
      {{ section.settings.contact_banner_image | image_url: width: 1200 | image_tag }}
    </div>
  </div>

  <div class="twcss-relative twcss-z-10 twcss-w-full">
    <div class="twcss-container">
      <div class="twcss-grid twcss-grid-cols-2">
        <div class="twcss-pb-16">
          <div class="twcss-pt-4 twcss-pb-8 twcss-uppercase">{{ 'Home' | link_to: '/', class: 'hover:twcss-underline' }} > {{ page_title }}</div>
          <h1 class="twcss-font-bold twcss-text-[28px]">{{ section.settings.contact_banner_title }}</h1>
          <div class="twcss-pt-8 banner-body-copy">{{ section.settings.contact_banner_body }}</div>
          <div class="twcss-pt-4">{% render 'social-icons' %}</div>
        </div>
        <div>
          <!-- empty -->
        </div>
      </div>
    </div>
  </div>

</div>

{% schema %}
{
  "name": "Contact Banner",
  "settings": [
    {
      "id": "contact_banner_title",
      "type": "text",
      "label": "Contact Banner Title",
      "default": "Title"
    },
    {
      "id": "contact_banner_body",
      "type": "richtext",
      "label": "Add custom text below",
      "default": "<p>Add your text here</p>"
    },
    {
      "id": "contact_banner_image",
      "type": "image_picker",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "contact-banner",
      "category": "Custom"
    }
  ]
}
{% endschema %}