<div class="twcss-container {{ section.settings.padding_top }} {{ section.settings.padding_bottom }}">
  <div class="twcss-rounded-lg twcss-bg-brand-darkgrey twcss-grid twcss-grid-cols-1 md:twcss-grid-cols-2 lg:twcss-grid-cols-3 ">
    <div class="twcss-col-span-1 twcss-flex twcss-items-center twcss-justify-center">
      <div class="twcss-text-white twcss-px-16">
        <div class="twcss-text-3xl">{{ section.settings.title }}</div>
        <div class="twcss-text-md twcss-pt-4 twcss-pb-8">{{ section.settings.body }}</div>
        <div class="twcss-pt-4">
          <a class="twcss-border-2 twcss-rounded-md twcss-px-12 twcss-py-4 twcss-font-bold hover:twcss-bg-white hover:twcss-text-brand-darkgrey" href="{{ section.settings.link }}">{{ section.settings.linktext }}</a>
        </div>
      </div>
    </div>
    <div class="twcss-col-span-1 lg:twcss-col-span-2">
      {{
      section.settings.feature_image
      | image_url: width: 3200
      | image_tag:
      loading: 'lazy',
      widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
      sizes: sizes,
      class: 'h-auto w-full object-contain'
      }}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Feature Block",
    "settings": [
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding Top",
        "options": [
          {
            "value": "twcss-pt-0",
            "label": "None"
          },
          {
            "value": "twcss-pt-4",
            "label": "1 rem"
          },
          {
            "value": "twcss-pt-8",
            "label": "2 rem"
          },
          {
            "value": "twcss-pt-12",
            "label": "3 rem"
          },
          {
            "value": "twcss-pt-16",
            "label": "4 rem"
          }
        ]
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding Bottom",
        "options": [
          {
            "value": "twcss-pb-0",
            "label": "None"
          },
          {
            "value": "twcss-pb-4",
            "label": "1 rem"
          },
          {
            "value": "twcss-pb-8",
            "label": "2 rem"
          },
          {
            "value": "twcss-pb-12",
            "label": "3 rem"
          },
          {
            "value": "twcss-pb-16",
            "label": "4 rem"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Feature Title"
      },
      {
        "type": "textarea",
        "id": "body",
        "label": "Body Text",
        "default": "A sentence or two"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      },
      {
        "type": "text",
        "id": "linktext",
        "label": "Link Text",
        "default": "Click this"
      },
      {
        "type": "image_picker",
        "id": "feature_image",
        "label": "Feature Image"
      }
    ],
    "presets": [
      {
        "name": "Feature Block"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}