{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}
{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
  {{ 'component-localization-form.css' | asset_url | stylesheet_tag }}
{%- endif -%}


<footer class="twcss-footer twcss-container twcss-px-4">


  {%- unless only_empty_brand -%}
    <div class="footer__content-top page-width">
      <div class="twcss-container twcss-border-t twcss-border-b dark:twcss-border-gray-600">
        {%- if section.settings.newsletter_enable -%}
          <div class="footer-block__newsletter twcss-flex twcss-justify-center twcss-items-center twcss-gap-8 twcss-py-8">

            <div>
              {%- if section.settings.newsletter_heading != blank -%}
                <h2 class="twcss-text-sm">{{ section.settings.newsletter_heading }}</h2>
              {%- endif -%}
            </div>

            <div>
              {%- form 'customer', id: 'ContactFooter', class: ' flex gap-8' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="twcss-field twcss-flex twcss-gap-4">
                    <input
                        id="NewsletterForm--{{ section.id }}"
                        type="email"
                        name="contact[email]"
                        class="twcss-border twcss-border-gray-300 twcss-px-8 twcss-py-2 twcss-rounded-md twcss-w-64"
                        value="{{ form.email }}"
                        aria-required="true"
                        autocorrect="off"
                        autocapitalize="off"
                        autocomplete="email"
                        {% if form.errors %}
                          autofocus
                          aria-invalid="true"
                          aria-describedby="ContactFooter-error"
                        {% elsif form.posted_successfully? %}
                          aria-describedby="ContactFooter-success"
                        {% endif %}
                        placeholder="{{ 'newsletter.label' | t }}"
                        required
                    >
                    <label class="twcss-sr-only" for="NewsletterForm--{{ section.id }}">
                      {{ 'newsletter.label' | t }}
                    </label>
                    <button
                        type="submit"
                        class="twcss-py-2 twcss-px-8 twcss-bg-brand-blue twcss-text-white twcss-rounded-md twcss-border-brand-blue"
                        name="commit"
                        id="Subscribe"
                        aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                      Subscribe
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">
                      {%- render 'icon-error' -%}
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3
                      class="newsletter-form__message newsletter-form__message--success form__message"
                      id="ContactFooter-success"
                      tabindex="-1"
                      autofocus
                  >
                    {% render 'icon-success' -%}
                    {{- 'newsletter.success' | t }}
                  </h3>
                {%- endif -%}
              {%- endform -%}
            </div>

          </div>
        {%- endif -%}

        {%- if shop.features.follow_on_shop? and section.settings.enable_follow_on_shop -%}
          <div class="footer__follow-on-shop">
            {% comment %} TODO: enable theme-check once `login_button` is accepted as valid filter {% endcomment %}
            {% # theme-check-disable %}
            {{ shop | login_button: action: 'follow' }}
            {% # theme-check-enable %}
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endunless -%}


  <div class="twcss-container twcss-grid twcss-grid-cols-1 lg:twcss-grid-cols-5">
    <div class="twcss-col-span-1 lg:twcss-col-span-2">
      {%- render 'social-icons' -%}
      <div class="twcss-pt-8">
        {{ shop.address.phone }}<br>{{ shop.email }}
      </div>
      <div class="twcss-pt-8">
        {{ shop.address.address1 }},<br>{{ shop.address.address2 }}, {{ shop.address.city }} {{ shop.address.zip }}
      </div>
    </div>
    <div class="twcss-col-span-1">
      <div class="twcss-text-brand-grey twcss-pb-4">FLOORING</div>
      {% for link in linklists.footer.links %}
        <div class="twcss-pb-4"><a class="twcss-text-brand-grey hover:twcss-text-brand-darkgrey" href="{{ link.url }}">{{ link.title }}</a></div>
      {% endfor %}
    </div>
    <div class="twcss-col-span-1">
      <div class="twcss-col-span-1">
        <div class="twcss-text-brand-grey twcss-pb-4">LET US HELP</div>
        {% for link in linklists.let-us-help.links %}
          <div class="twcss-pb-4"><a class="twcss-text-brand-grey hover:twcss-text-brand-darkgrey" href="{{ link.url }}">{{ link.title }}</a></div>
        {% endfor %}
      </div>
    </div>
    <div class="twcss-col-span-1">
      <div class="twcss-col-span-1">
        <div class="twcss-text-brand-grey twcss-pb-4">USEFUL LINKS</div>
        {% for link in linklists.useful-links.links %}
          <div class="twcss-pb-4"><a class="twcss-text-brand-grey hover:twcss-text-brand-darkgrey" href="{{ link.url }}">{{ link.title }}</a></div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="twcss-container">
    <div class="footer__copyright caption">
      <small class="copyright__content">&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}</small>
      {%- if section.settings.show_policy -%}
        <ul class="policies list-unstyled">
          {%- for policy in shop.policies -%}
            {%- if policy != blank -%}
              <li>
                <small class="copyright__content"
                ><a href="{{ policy.url }}">{{ policy.title }}</a></small
                >
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>
    <div class="footer__column footer__column--info">
      {%- if section.settings.payment_enable -%}
        <div class="footer__payment">
          <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
          <ul class="list list-payment" role="list">
            {%- for type in shop.enabled_payment_types -%}
              <li class="list-payment__item">
                {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}
    </div>
  </div>
</footer>

{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
  <script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "header",
          "content": "t:sections.footer.blocks.brand_information.settings.header__1.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content",
      "info": "t:sections.footer.settings.header__9.info"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__8.content",
      "info": "t:sections.footer.settings.header__8.info"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": false,
      "label": "t:sections.footer.settings.show_policy.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
