{%- comment -%}
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}
{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
  {{ 'component-localization-form.css' | asset_url | stylesheet_tag: preload: true }}
{%- endif -%}

{%- if settings.cart_type == "drawer" -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
  {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
    .scrolled-past-header .header__heading-logo-wrapper {
      width: 75%;
    }
  {%- endif -%}

  {%- if section.settings.menu_type_desktop != "drawer" -%}
    @media screen and (min-width: 990px) {
      header-drawer {
        display: none;
      }
    }
  {%- endif -%}

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>

{%- style -%}
  .header {
    padding: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px 3rem {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px 3rem;
  }

  .section-header {
    position: sticky; /* This is for fixing a Safari z-index issue. PR #2147 */
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
  <script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-reset" class="icon icon-close"  fill="none" viewBox="0 0 18 18" stroke="currentColor">
    <circle r="8.5" cy="9" cx="9" stroke-opacity="0.2"/>
    <path d="M6.82972 6.82915L1.17193 1.17097" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
    <path d="M1.22896 6.88502L6.77288 1.11523" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}


<{% if section.settings.sticky_header_type != 'none' %}sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}"{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  {%- liquid
    assign social_links = false
    assign localization_forms = false

    if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank
      assign social_links = true
    endif

    if localization.available_countries.size > 1 and section.settings.enable_country_selector or section.settings.enable_language_selector and localization.available_languages.size > 1
      assign localization_forms = true
    endif
  -%}
  <header class="header header--{{ section.settings.logo_position }} header--mobile-{{ section.settings.mobile_logo_position }} page-width{% if section.settings.menu_type_desktop == 'drawer' %} drawer-menu{% endif %}{% if section.settings.menu != blank %} header--has-menu{% endif %}{% if has_app_block %} header--has-app{% endif %}{% if social_links %} header--has-social{% endif %}{% if shop.customer_accounts_enabled %} header--has-account{% endif %}{% if localization_forms %} header--has-localizations{% endif %}">
    {%- liquid
      if section.settings.menu != blank
        render 'header-drawer'
      endif

      if section.settings.logo_position == 'top-center' or section.settings.menu == blank
        render 'header-search', input_id: 'Search-In-Modal-1'
      endif
    -%}

    {%- if section.settings.logo_position != 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo motion-reduce',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}
              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    {%- liquid
      if section.settings.menu != blank
        if section.settings.menu_type_desktop == 'dropdown'
          render 'header-dropdown-menu'
        elsif section.settings.menu_type_desktop != 'drawer'
          render 'header-mega-menu'
        endif
      endif
    %}

    {%- if section.settings.logo_position == 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}
              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    <div class="header__icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header__localization{% endif %}">
      <div class="desktop-localization-wrapper">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <noscript class="small-hide medium-hide">
            {%- form 'localization', id: 'HeaderCountryMobileFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="HeaderCountryMobileLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                <select class="localization-selector link" name="country_code" aria-labelledby="HeaderCountryMobileLabelNoScript">
                  {%- for country in localization.available_countries -%}
                    <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                      {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form class="small-hide medium-hide no-js-hidden">
            {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {% endif %}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <noscript class="small-hide medium-hide">
            {%- form 'localization', id: 'HeaderLanguageMobileFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="HeaderLanguageMobileLabelNoScript">{{ 'localization.language_label' | t }}</h2>
                <select class="localization-selector link" name="locale_code" aria-labelledby="HeaderLanguageMobileLabelNoScript">
                  {%- for language in localization.available_languages -%}
                    <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                      {{ language.endonym_name | capitalize }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form class="small-hide medium-hide no-js-hidden">
            {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      {% render 'header-search', input_id: 'Search-In-Modal' %}

      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
          {% render 'icon-account' %}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
        {%- endcase -%}
      {%- endfor -%}

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>
  </header>

</{% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme, desktop_menu_type: section.settings.menu_type_desktop -%}
{%- endif -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always' || this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      };

      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>



{%- endcomment -%}




<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>
{%- comment -%}
{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{%- endcomment -%}

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
	<symbol id="icon-search" viewbox="0 0 18 19" fill="none">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
	</symbol>

	<symbol id="icon-reset" class="icon icon-close"  fill="none" viewBox="0 0 18 18" stroke="currentColor">
		<circle r="8.5" cy="9" cx="9" stroke-opacity="0.2"/>
		<path d="M6.82972 6.82915L1.17193 1.17097" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
		<path d="M1.22896 6.88502L6.77288 1.11523" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
	</symbol>

	<symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
		<path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
	</symbol>
</svg>

{%- liquid
	for block in section.blocks
		if block.type == '@app'
			assign has_app_block = true
		endif
	endfor
-%}


<div class="twcss-bg-brand-darkgrey" x-data="{ showMenu: false, showClearance: false }">
	<div class="twcss-container lg:twcss-flex twcss-justify-between twcss-items-center">
		<div class="twcss-py-4 twcss-hidden lg:twcss-block">
			<a href="{{ shop.url }}">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 1080 216.42" style="enable-background:new 0 0 1080 216.42;" xml:space="preserve" class="twcss-h-8 twcss-w-fit">
					<style type="text/css">
							.st0{fill:#FFFFFF;}
							.st1{fill:#A9BEC3;}
					</style>
					<path class="st0" d="M79.32,116.23c-5.92,2.23-12.36,3.35-19.35,3.35c-11.15,0-20.85-2.42-29.09-7.27
	c-8.24-4.85-14.55-11.37-18.91-19.56c-4.36-8.19-6.55-17.19-6.55-26.98c0-10.76,2.18-20.36,6.55-28.8
	c4.36-8.44,10.47-15,18.33-19.71c7.85-4.7,16.92-7.05,27.2-7.05c6.5,0,12.51,0.87,18.04,2.62c5.53,1.75,10.38,3.93,14.55,6.55
	l-8.29,19.93c-7.66-5.82-15.52-8.73-23.56-8.73c-5.43,0-10.52,1.5-15.27,4.51c-4.75,3.01-8.53,7.1-11.35,12.29
	c-2.81,5.19-4.22,10.93-4.22,17.24c0,6.89,1.31,12.92,3.93,18.11c2.62,5.19,6.35,9.24,11.2,12.15c4.85,2.91,10.52,4.36,17.02,4.36
	c5.24,0,9.94-0.85,14.11-2.55c4.17-1.7,7.47-3.71,9.89-6.04l8.73,18.91C89.55,111.77,85.23,114,79.32,116.23z"/>
					<path class="st0" d="M223.61,6.99v111.42h-21.09V67.35l-34.91,49.6h-0.29l-33.6-46.4v47.85h-20.36V6.99h0.15l54.26,76.94
	l55.56-76.94H223.61z"/>
					<path class="st0" d="M355.48,11.36v20.36h-45.82v24.29h39.71v20.36h-39.71v42.04h-21.09V11.36H355.48z"/>
					<path class="st0" d="M396.93,11.36v86.69h50.33v20.36h-71.42V11.36H396.93z"/>
					<path class="st0" d="M466.97,37.83c4.9-8.44,11.54-15.15,19.93-20.15c8.39-4.99,17.48-7.49,27.27-7.49c9.79,0,18.88,2.5,27.27,7.49
	c8.39,5,15.08,11.71,20.07,20.15c4.99,8.44,7.49,17.5,7.49,27.2c0,9.89-2.5,19.01-7.49,27.34c-5,8.34-11.69,14.96-20.07,19.86
	c-8.39,4.9-17.48,7.34-27.27,7.34c-9.89,0-19.01-2.45-27.35-7.34c-8.34-4.9-14.96-11.51-19.85-19.86
	c-4.9-8.34-7.35-17.45-7.35-27.34C459.62,55.33,462.07,46.26,466.97,37.83z M485.88,82.19c2.96,5.24,6.98,9.38,12.07,12.44
	c5.09,3.05,10.74,4.58,16.95,4.58c6.01,0,11.49-1.53,16.44-4.58c4.95-3.06,8.82-7.18,11.64-12.36c2.81-5.19,4.22-10.93,4.22-17.24
	c0-6.4-1.45-12.22-4.36-17.45c-2.91-5.24-6.86-9.38-11.85-12.44c-5-3.06-10.55-4.58-16.66-4.58c-6.11,0-11.66,1.53-16.65,4.58
	c-5,3.06-8.95,7.2-11.85,12.44c-2.91,5.24-4.36,11.05-4.36,17.45C481.44,71.23,482.92,76.95,485.88,82.19z"/>
					<path class="st0" d="M590.9,37.83c4.9-8.44,11.54-15.15,19.93-20.15c8.39-4.99,17.48-7.49,27.27-7.49c9.79,0,18.88,2.5,27.27,7.49
	c8.39,5,15.08,11.71,20.07,20.15c4.99,8.44,7.49,17.5,7.49,27.2c0,9.89-2.5,19.01-7.49,27.34c-5,8.34-11.69,14.96-20.07,19.86
	c-8.39,4.9-17.48,7.34-27.27,7.34c-9.89,0-19.01-2.45-27.35-7.34c-8.34-4.9-14.96-11.51-19.85-19.86
	c-4.9-8.34-7.35-17.45-7.35-27.34C583.55,55.33,586,46.26,590.9,37.83z M609.8,82.19c2.96,5.24,6.98,9.38,12.07,12.44
	c5.09,3.05,10.74,4.58,16.95,4.58c6.01,0,11.49-1.53,16.44-4.58c4.95-3.06,8.82-7.18,11.64-12.36c2.81-5.19,4.22-10.93,4.22-17.24
	c0-6.4-1.45-12.22-4.36-17.45c-2.91-5.24-6.86-9.38-11.85-12.44c-5-3.06-10.55-4.58-16.66-4.58s-11.66,1.53-16.65,4.58
	c-5,3.06-8.95,7.2-11.85,12.44c-2.91,5.24-4.36,11.05-4.36,17.45C605.37,71.23,606.85,76.95,609.8,82.19z"/>
					<path class="st0" d="M771.77,118.41l-22.55-34.04h-14.11v34.04h-21.09V11.36h32.43c13.29,0,23.59,3.22,30.91,9.67
	c7.32,6.45,10.98,15.25,10.98,26.4c0,6.6-1.38,12.78-4.14,18.55c-2.76,5.77-7,10.3-12.72,13.6l24.87,38.84H771.77z M735.11,64.01
	h14.98c5.72,0,9.89-1.67,12.51-5.02c2.62-3.35,3.93-6.96,3.93-10.84c0-3.88-1.12-7.59-3.35-11.13c-2.24-3.54-6.55-5.31-12.95-5.31
	h-15.13V64.01z"/>
					<path class="st0" d="M834.89,11.36v107.05H813.8V11.36H834.89z"/>
					<path class="st0" d="M958.96,11.36v111.42h-0.58l-74.91-67.64l0.44,63.27h-21.38V7.14h0.87l74.77,68.65l-0.44-64.44H958.96z"/>
					<path class="st0" d="M1064.63,113.1c-4.22,1.89-8.87,3.44-13.96,4.66c-5.09,1.21-9.72,1.82-13.89,1.82
	c-11.34,0-21.31-2.2-29.89-6.62c-8.58-4.41-15.2-10.52-19.86-18.33c-4.65-7.81-6.98-16.7-6.98-26.69c0-12.51,2.47-23.1,7.42-31.78
	c4.95-8.68,11.59-15.18,19.93-19.49c8.34-4.31,17.55-6.47,27.64-6.47c6.5,0,12.6,0.73,18.33,2.18c5.72,1.45,10.76,3.35,15.13,5.67
	l-6.84,19.64c-2.81-1.55-6.67-2.98-11.56-4.29c-4.9-1.31-9-1.96-12.29-1.96c-11.63,0-20.53,2.91-26.69,8.73s-9.23,14.45-9.23,25.89
	c0,6.6,1.5,12.34,4.51,17.24c3,4.9,7.2,8.65,12.58,11.27c5.38,2.62,11.51,3.93,18.4,3.93c6.59,0,11.49-0.92,14.69-2.76V82.77h-18.47
	V62.41h39.85v45.24C1071.78,109.39,1068.85,111.21,1064.63,113.1z"/>
					<path class="st1" d="M24.43,166.29c-2.1,0-3.74,0.42-4.9,1.25c-1.16,0.83-1.74,2.08-1.74,3.75c0,1.53,0.84,2.88,2.53,4.04
	c1.69,1.16,3.93,2.27,6.74,3.32c2.28,0.83,4.23,1.79,5.85,2.86c1.62,1.07,2.97,2.55,4.04,4.44c1.07,1.89,1.61,4.27,1.61,7.17
	c0,2.5-0.65,4.81-1.94,6.94c-1.29,2.13-3.19,3.81-5.69,5.06c-2.5,1.25-5.48,1.87-8.94,1.87c-2.89,0-5.76-0.43-8.61-1.28
	c-2.85-0.86-5.5-2.16-7.96-3.91l4.21-7.43c1.66,1.23,3.57,2.24,5.72,3.02c2.15,0.79,4.08,1.18,5.79,1.18c2.02,0,3.77-0.43,5.26-1.28
	c1.49-0.86,2.23-2.25,2.23-4.18c0-2.5-2.35-4.67-7.04-6.51c-2.76-1.1-5.06-2.15-6.9-3.16c-1.84-1.01-3.43-2.45-4.77-4.34
	c-1.34-1.88-2.01-4.25-2.01-7.1c0-4.16,1.37-7.52,4.11-10.06c2.74-2.54,6.39-3.92,10.95-4.14c3.59,0,6.6,0.41,9.01,1.22
	c2.41,0.81,4.76,1.96,7.04,3.45l-3.62,7.3C31.2,167.46,27.54,166.29,24.43,166.29z"/>
					<path class="st1" d="M105.91,192.99c0.92,1.4,2.15,2.54,3.68,3.42c1.53,0.88,3.18,1.32,4.93,1.32c1.88,0,3.62-0.44,5.19-1.32
	c1.58-0.88,2.82-2.02,3.71-3.42c0.9-1.4,1.35-2.87,1.35-4.41v-30.51h9.4v30.71c0,3.46-0.88,6.59-2.63,9.37
	c-1.75,2.78-4.13,4.95-7.13,6.51c-3,1.56-6.3,2.33-9.9,2.33c-3.59,0-6.88-0.78-9.86-2.33c-2.98-1.56-5.34-3.73-7.07-6.51
	c-1.73-2.78-2.6-5.91-2.6-9.37v-30.71h9.53v30.51C104.53,190.12,104.99,191.59,105.91,192.99z"/>
					<path class="st1" d="M220.51,162.45c3.24,2.92,4.87,6.89,4.87,11.93c0,2.89-0.56,5.6-1.68,8.12c-1.12,2.52-2.94,4.59-5.46,6.21
	c-2.52,1.62-5.78,2.43-9.76,2.43h-6.84v15.32h-9.53v-48.39h14.66C212.68,158.08,217.26,159.53,220.51,162.45z M212.75,180.66
	c1.1-0.81,1.88-1.76,2.37-2.86c0.48-1.09,0.72-2.15,0.72-3.16c0-1.71-0.5-3.36-1.51-4.96c-1.01-1.6-2.96-2.4-5.85-2.4h-6.84v14.6
	h6.77C210.21,181.88,211.65,181.47,212.75,180.66z"/>
					<path class="st1" d="M313.71,162.45c3.24,2.92,4.87,6.89,4.87,11.93c0,2.89-0.56,5.6-1.68,8.12c-1.12,2.52-2.94,4.59-5.46,6.21
	c-2.52,1.62-5.78,2.43-9.76,2.43h-6.84v15.32h-9.53v-48.39h14.66C305.89,158.08,310.47,159.53,313.71,162.45z M305.95,180.66
	c1.1-0.81,1.88-1.76,2.37-2.86c0.48-1.09,0.72-2.15,0.72-3.16c0-1.71-0.5-3.36-1.51-4.96c-1.01-1.6-2.96-2.4-5.85-2.4h-6.84v14.6
	h6.77C303.41,181.88,304.86,181.47,305.95,180.66z"/>
					<path class="st1" d="M384.74,158.08v39.19h22.75v9.2H375.2v-48.39H384.74z"/>
					<path class="st1" d="M473.3,158.08v48.39h-9.53v-48.39H473.3z"/>
					<path class="st1" d="M565.21,158.08v9.2h-23.47v10.32h20.78v9.21h-20.78v10.45h24.39v9.2h-33.93v-48.39H565.21z"/>
					<path class="st1" d="M643.9,166.29c-2.1,0-3.74,0.42-4.9,1.25c-1.16,0.83-1.74,2.08-1.74,3.75c0,1.53,0.84,2.88,2.53,4.04
	c1.69,1.16,3.93,2.27,6.74,3.32c2.28,0.83,4.23,1.79,5.85,2.86c1.62,1.07,2.97,2.55,4.04,4.44c1.07,1.89,1.61,4.27,1.61,7.17
	c0,2.5-0.65,4.81-1.94,6.94c-1.29,2.13-3.19,3.81-5.69,5.06c-2.5,1.25-5.48,1.87-8.94,1.87c-2.89,0-5.76-0.43-8.61-1.28
	c-2.85-0.86-5.5-2.16-7.96-3.91l4.21-7.43c1.66,1.23,3.57,2.24,5.72,3.02c2.15,0.79,4.08,1.18,5.79,1.18c2.02,0,3.77-0.43,5.26-1.28
	c1.49-0.86,2.23-2.25,2.23-4.18c0-2.5-2.35-4.67-7.04-6.51c-2.76-1.1-5.06-2.15-6.9-3.16c-1.84-1.01-3.43-2.45-4.77-4.34
	c-1.34-1.88-2.01-4.25-2.01-7.1c0-4.16,1.37-7.52,4.11-10.06c2.74-2.54,6.39-3.92,10.95-4.14c3.59,0,6.6,0.41,9.01,1.22
	c2.41,0.81,4.76,1.96,7.04,3.45l-3.62,7.3C650.67,167.46,647.01,166.29,643.9,166.29z"/>
				</svg>

				{% comment %}<img src="{{ settings.logo | img_url: '600x' }}">{% endcomment %}
			</a>
		</div>
		<div>
			<div class="twcss-flex twcss-justify-end twcss-items-center twcss-gap-8">
				<div>
					<form class="search" action="/search">
						<div class="twcss-relative twcss-text-brand-blue focus-within:twcss-text-brand-blue">
            <span class="twcss-absolute twcss-inset-y-0 twcss-left-0 twcss-flex twcss-items-center twcss-pl-2">
              <button type="submit" class="twcss-p-1 focus:twcss-outline-none focus:twcss-shadow-outline">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="twcss-w-6 twcss-h-6">
                  <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z">
                  </path>
                </svg>
              </button>
            </span>
							<input type="search" name="q" class="twcss-py-2 twcss-text-sm twcss-text-white twcss-bg-brand-grey twcss-rounded-md twcss-pl-10 focus:twcss-outline-none focus:twcss-bg-brand-grey focus:twcss-text-core-white" placeholder="Search for products" autocomplete="off">
						</div>
					</form>
				</div>
				<div>
					<a class="twcss-text-core-white twcss-py-4 hover:twcss-underline twcss-transition-all twcss-duration-300" href="/pages/contact">Contact us</a>
				</div>
        <div>
					<a href="{{ routes.cart_url }}" class="header__iconx header__icon--cartx twcss-relative link focus-inset twcss-w-8 twcss-h-8 twcss-text-core-white" id="cart-icon-bubble">
						{%- liquid
							if cart == empty
								render 'icon-cart-empty'
							else
								render 'icon-cart'
							endif
						-%}
						<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
						{%- if cart != empty -%}
							<div class="cart-count-bubble">
								{%- if cart.item_count < 100 -%}
									<span aria-hidden="true">{{ cart.item_count }}</span>
								{%- endif -%}
								<span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
							</div>
						{%- endif -%}
					</a>
				</div>
			</div>
		</div>
	</div>
	<nav class="twcss-container twcss-text-core-white twcss-h-auto">
		<div class="twcss-block lg:twcss-hidden twcss-container twcss-justify-end">
			<button @click="showMenu = !showMenu" class="twcss-inline-flex twcss-items-center twcss-p-2 twcss-ml-3 twcss-text-smtwcss- text-brand-orange twcss-rounded-lg lg:twcss-hidden" aria-controls="navbar-solid-bg" aria-expanded="false">
				<div id="nav-icon" :class="showMenu == false ? '' : 'open'" class="">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</button>
		</div>

		<div class="twcss-hidden lg:twcss-flex twcss-container twcss-items-center twcss-justify-between">
			<div class="" id="navbar-solid-bg">
				<div class="twcss-flex twcss-bg-brand-darkgrey">

					{% for link in linklists.main-menu.links %}

						{%- if link.links != blank -%}
							<details id="Details-menu-drawer-menu-item-{{ forloop.index }}" class="relative z-10">
								<summary class="twcss-relative twcss-px-4 twcss-py-4 twcss-top-0 twcss-group twcss-overflow-hidden twcss-font-medium twcss-bg-transparent hover:twcss-bg-brand-yellow {% if link.child_active %} bg-brand-yellow{% endif %}">
									<span class="twcss-relative twcss-text-core-white group-hover:twcss-text-core-black">{{ link.title | escape }}</span>
								</summary>
								<div id="link-{{ link.handle | escape }}" class="twcss-absolute twcss-top-13 menu-drawer__submenu has-submenu gradient motion-reduce twcss-bg-brand-darkgrey twcss-z-50" tabindex="-1">
									<div class="menu-drawer__inner-submenu">
										<ul class="menu-drawer__menu list-menu twcss-bg-brand-darkgrey" role="list" tabindex="-1">
											<li>
												<a href="{{ link.url }}" {% if link.current %} aria-current="page"{% endif %}>
													<div class="twcss-relative twcss-px-4 twcss-py-4 twcss-top-0 twcss-group twcss-overflow-hidden twcss-font-medium twcss-bg-transparent hover:twcss-bg-brand-yellow{% if link.current %} menu-drawer__menu-item--active{% endif %}">
														<span class="twcss-relative twcss-text-core-white group-hover:twcss-text-core-black">All {{ link.title | escape }}</span>
													</div>
												</a>
											</li>
											{%- for childlink in link.links -%}
												<li>
													{%- if childlink.links == blank -%}
														<a href="{{ childlink.url }}" {% if childlink.current %} aria-current="page"{% endif %}>
															<div class="twcss-relative twcss-px-4 twcss-py-4 twcss-top-0 twcss-group twcss-overflow-hidden twcss-font-medium twcss-bg-transparent hover:twcss-bg-brand-yellow{% if childlink.current %} menu-drawer__menu-item--active{% endif %}">
																<span class="twcss-relative twcss-text-core-white group-hover:twcss-text-core-black">{{ childlink.title | escape }}</span>
															</div>
														</a>
													{%- else -%}
														<details id="Details-menu-drawer-submenu-{{ forloop.index }}">
															<summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
																{{ childlink.title | escape }}
															</summary>
															<div id="childlink-{{ childlink.handle | escape }}" class="menu-drawer__submenu has-submenu gradient motion-reduce">
																<button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
																	{% render 'icon-arrow' %}
																	{{ childlink.title | escape }}
																</button>
																<ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
																	{%- for grandchildlink in childlink.links -%}
																		<li>
																			<a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
																				{{ grandchildlink.title | escape }}
																			</a>
																		</li>
																	{%- endfor -%}
																</ul>
															</div>
														</details>
													{%- endif -%}
												</li>
											{%- endfor -%}
										</ul>
									</div>
								</div>
							</details>
						{%- else -%}
							<a href="{{ link.url }}">
								<div class="twcss-relative twcss-px-4 twcss-py-4 twcss-top-0 twcss-group twcss-overflow-hidden twcss-font-medium twcss-bg-transparent hover:twcss-bg-brand-yellow {% if link.current %} menu-drawer__menu-item--active{% endif %}" {% if link.current %} aria-current="page"{% endif %}>
									<span class="twcss-relative twcss-text-core-white group-hover:twcss-text-core-black">{{ link.title | escape }}</span>
								</div>
							</a>
						{%- endif -%}

					{%endfor%}
				</div>
			</div>
			{% if section.settings.show-clearance == true %}
				<div class="twcss-relative twcss-px-4 twcss-py-4 twcss-top-0 twcss-group twcss-overflow-hidden twcss-font-medium twcss-bg-brand-red hover:twcss-cursor-pointer hover:twcss-brightness-125" @click="showClearance = !showClearance">
					<span class="twcss-relative twcss-text-core-white twcss-uppercase">Clearance</span>
				</div>
			{% endif %}
		</div>
		<div id="mobile-menu" class="twcss-inset-0 twcss-w-full twcss-mx-auto twcss-top-0 twcss-right-0 twcss-flex twcss-justify-end twcss-duration-300 twcss-transform twcss-fixed twcss-transition twcss-overflow-hidden -twcss-translate-y-full twcss-ease-out twcss-bg-brand-darkgrey twcss-bg-opacity-60" :class="{'twcss-translate-y-24 twcss-ease-in twcss-z-50':showMenu === true, '-twcss-translate-y-full twcss-ease-out':showMenu === false}">
			<div class="twcss-w-full">
				<div class="twcss-flex twcss-flex-col twcss-divide-y twcss-divide-brand-light-gray twcss-bg-brand-darkgrey">
					{% for link in section.settings.menu.links %}

						{% if link.url == '/pages/contact'  %}
							<div class="twcss-pt-2">
								<a href="{{ link.url }}" class="twcss-block twcss-py-2 twcss-px-4 twcss-text-brand-midnight hover:twcss-text-white twcss-uppercase hover:twcss-bg-brand-orange twcss-border-2 twcss-border-brand-orange twcss-border-solid twcss-rounded-full twcss-transition-all twcss-duration-300{% if link.current %}twcss-text-white twcss-bg-brand-orange{% endif %}">{{ link.title }}</a>
							</div>
						{% else %}

							<div class="twcss-relative inactive">
								<a href="{{ link.url }}" class="twcss-px-5 twcss-py-4 twcss-top-0 twcss-group twcss-overflow-hidden twcss-font-medium twcss-bg-transparent twcss-text-brand-midnight twcss-inline-block">
									<span class="twcss-absolute -twcss-top-1 twcss-left-0 twcss-flex twcss-w-full twcss-h-0 twcss-mb-0 twcss-transition-all twcss-duration-300 twcss-ease-out twcss-transform twcss-translate-y-0 twcss-bg-brand-orange group-hover:twcss-h-full twcss-opacity-90 {%- if link.current  %}twcss-h-full{% endif %}"></span>
									<span class="twcss-relative group-hover:twcss-text-white twcss-uppercase">{{ link.title }}</span>
								</a>
							</div>
						{% endif %}
					{%endfor%}
				</div>
			</div>
		</div>
	</nav>
	<div x-cloak x-show="showClearance" x-transition.duration.300ms class="twcss-bg-brand-red">
		<div class="twcss-container twcss-flex twcss-justify-center">
			<a class="twcss-text-core-white twcss-py-4 hover:twcss-underline twcss-transition-all twcss-duration-300" href="{{ section.settings.clearance-banner-link }}">{{ section.settings.clearance-banner-text }}</a>
		</div>
	</div>
</div>



{%- if settings.cart_type == "notification" -%}
	{%- render 'cart-notification', color_scheme: section.settings.color_scheme, desktop_menu_type: section.settings.menu_type_desktop -%}
{%- endif -%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
	{% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
	<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "show-clearance",
      "default": false,
      "label": "Show Clearance Banner"
    },
    {
      "type": "text",
      "id": "clearance-banner-text",
      "label": "Clearance Banner Text"
    },
    {
      "type": "url",
      "id": "clearance-banner-link",
      "label": "Clearance Link"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}

