<section id="hero" class="twcss-bg-cover">
	<div class="twcss-relative twcss-grid twcss-grid-cols-1 lg:twcss-grid-cols-2 twcss-mx-auto twcss-min-h-[36rem]">
		<div class="twcss-col-span-1">
			<a href="{{ section.settings.image_link.url }}" title="{{ section.settings.image_link_title }}">
				<img class="twcss-h-full twcss-w-full twcss-object-cover" src="{{ section.settings.image | img_url:'900x' }}">
			</a>
		</div>
		<div class="twcss-col-span-1 twcss-text-core-black twcss-bg-brand-blue">
			{% assign length = section.blocks | size %}

			<div class="twcss-h-full twcss-flex twcss-flex-col twcss-justify-center twcss-items-center twcss-w-2/3 twcss-mx-auto twcss-relative">

				<div class="twcss-w-full twcss-h-full twcss-mx-auto " x-data="{ activeSlide: 1 }">
					<!-- Slides -->
					{% for block in section.blocks %}
						<div x-show="activeSlide === {{ forloop.index }}" class="twcss-py-24 twcss-font-bold twcss-h-full twcss-flex twcss-items-center">
							<div>
								<div class="twcss-text-4xl">{{ block.settings.title_text }}</div>
								<div class="twcss-py-8">{{ block.settings.body_text }}</div>
								<div>
									<a href="{{ block.settings.slide_link }}">
										<button class="twcss-p-4 twcss-border-2 twcss-rounded-md twcss-border-core-white">{{ block.settings.slide_link_text }}</button>
									</a>
								</div>
							</div>
						</div>
					{% endfor %}

					<!-- Prev/Next Arrows -->
					<div class="twcss-absolute twcss-bottom-16 twcss-left-0 twcss-z-50">
						<div class="twcss-flex twcss-justify-start twcss-items-center">
							<div class="twcss-flex twcss-items-center twcss-justify-start twcss-w-1/2">
								<button
										class="twcss-text-core-white hover:twcss-text-brand-grey twcss-font-bold twcss-text-xl"
										@click="activeSlide = activeSlide === 1 ? {{ length }} : activeSlide - 1">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="twcss-w-6 twcss-h-6">
										<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
									</svg>
								</button>
							</div>
							<!-- Buttons -->
							<div class="twcss-flex twcss-items-center twcss-justify-center twcss-px-4">
								{% for block in section.blocks %}
									<button
											class="twcss-flex-1 twcss-w-4 twcss-h-2 twcss-mx-2 twcss-mb-0 twcss-rounded-full twcss-overflow-hidden twcss-transition-colors twcss-duration-200 twcss-ease-out hover:twcss-bg-brand-grey"
											:class="{ 'twcss-bg-brand-grey': activeSlide === {{ forloop.index }}, 'twcss-bg-core-white': activeSlide !== {{ forloop.index }} }"
											@click="activeSlide = {{ forloop.index }}"
									></button>
								{% endfor %}
							</div>
							<div class="twcss-flex twcss-items-center twcss-justify-end twcss-w-1/2">
								<button
										class="twcss-text-core-white hover:twcss-text-brand-grey twcss-font-bold twcss-text-xl"
										@click="activeSlide = activeSlide === {{ length }} ? 1 : activeSlide + 1">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="twcss-w-6 twcss-h-6">
										<path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
									</svg>
								</button>
							</div>
						</div>
					</div>


				</div>

			</div>
		</div>

	</div>

	</div>
</section>

{% schema %}
{
  "name": "Image Slider Banner",
  "class": "image-slider-banner",
  "limit": 1,
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "image_link_title",
      "label": "Image link title text"
    },
    {
      "type": "url",
      "id": "image_link",
      "label": "Image Link"
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "text",
          "id": "title_text",
          "label": "Title text"
        },
        {
          "type": "text",
          "id": "body_text",
          "label": "Body text"
        },
        {
          "type": "url",
          "id": "slide_link",
          "label": "Slide Link"
        },
        {
          "type": "text",
          "id": "slide_link_text",
          "label": "Slide Link Text"
        }
      ]
    }
  ]
}
{% endschema %}