<div class="twcss-container twcss-py-8 twcss-bg-brand-red twcss-text-white twcss-p-16 twcss-bg-cover twcss-rounded-lg" style="background-image: url('{{ 'bg-red.jpg' | asset_url }}')">
  <div class="twcss-grid twcss-grid-cols-1 md:twcss-grid-cols-2 lg:twcss-grid-cols-3 twcss-gap-4">
    <div class="twcss-text-center">
      <div class="twcss-text-base">{{ section.settings.title }}</div>
      <div class="twcss-text-3xl twcss-font-bold">{{ section.settings.discount }}% off</div>
      <div class="twcss-text-base twcss-font-bold">{{ section.settings.subtitle }}</div>
    </div>
    <div class="twcss-col-span-1 lg:twcss-col-span-2">
      <div class="twcss-grid twcss-grid-cols-1 md:twcss-grid-cols-2 lg:twcss-grid-cols-3 twcss-gap-4">
        {% for block in section.blocks %}
          {% assign product = block.settings.product %}
          <div class="twcss-bg-white twcss-text-core-black">
            <a href="{{ product.url }}">
              <div class="twcss-aspect-square twcss-pb-2">
                {{ product.featured_media | image_url: width: 900 | image_tag: loading: lazy, class: 'twcss-aspect-square twcss-object-cover' }}
              </div>
              <div class="twcss-py-8 twcss-px-4">
                <div class="twcss-text-sm twcss-uppercase twcss-text-gray-300">{{ product.collections[0].title }}</div>
                <div class="twcss-text-base twcss-font-bold twcss-pt-2 twcss-pb-4">{{ product.title }}</div>
                <div class="twcss-text-base twcss-font-bold">{{ product.price | money_with_currency }} <span class="twcss-text-xs twcss-font-light">{{ product.unit_price_measurement.quantity_value }}{{ product.unit_price_measurement.quantity_unit }}</span></div>
              </div>
              </a>
          </div>
        {% endfor %}
      </div>
    </div>

  </div>

</div>
{% schema %}
  {
    "name": "Sale products",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Clearance"
      },
      {
        "type": "number",
        "id": "discount",
		"label": "Discount Percent Amount",
		"default": 50
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "Save £££s"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Sale Link"
      }
    ],
    "max_blocks": 3,
    "blocks": [
      {
        "type": "column",
        "name": "product",
        "settings": [
            {
              "type": "product",
              "id": "product",
              "label": "Product"
			}
		]
      }
    ],
    "presets": [{
      "name": "Sale Products"
	}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}